<div class="portfolio-card">
    <div class="card-item">
        <img [src]=users.image.image1 alt="">
    </div>

    <div class="card-item">
        <img [src]=users.image.image2 alt="">
    </div>

    <div class="card-item">
        <img [src]=users.image.image3 alt="">
    </div>

    <div class="card-item">
        <img [src]=users.image.image4 alt="">
    </div>

    <div class="card-item">
        <img [src]=users.image.image5 alt="">
    </div>

    <div class="card-item">
        <img [src]=users.image.image6 alt="">
    </div>
    
</div>

<router-outlet></router-outlet>


