<ul>
    <div class="dropdown">
        <button class="dropbtn"><hr><hr><hr></button>
        <div class="dropdown-content">
            <ul>
                <li>
                    <a routerLink="/" [routerLinkActive]="['active']">HOME</a>
                </li>
                <li>
                    <a routerLink="/profile" [routerLinkActive]="['active']">PROFILE</a>
                </li>
                <li>
                    <a routerLink="/portfolio" [routerLinkActive]="['active']">PORTFOLIO</a>
                </li>
                <li>
                    <a outerLink="/contact" [routerLinkActive]="['active']">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
    <li style='float: left; border: none;'>
        <a routerLink="/home" [routerLinkActive]="['active']">
            <h3 class='logo'>{{ user.companyName }}</h3>
        </a>
    </li>
    <li class='menu'><a routerLink="/contact" [routerLinkActive]="['active']">CONTACT</a></li>
    <li class='menu'><a routerLink="/portfolio" [routerLinkActive]="['active']">PORTFOLIO</a></li>
    <li class='menu'><a routerLink="/profile" [routerLinkActive]="['active']">PROFILE</a></li>
    <li class='menu'><a routerLink="/home" [routerLinkActive]="['active']">HOME</a></li>        
</ul>



