.imageContainer {
    width: fit-content(2em);
    height: 60em;
    text-align: center;
    background-image: url('https://lorempixel.com/1920/1080/nature/3');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 780px) {
    .imageContainer {
        width: 100vw;
        height: 50vh;
        position: absolute;
        top: 5rem;
    }
}