.imageContainer {
    width: fit-content(2em);
    height: 60em;
    text-align: center;
    background-image: url('https://lorempixel.com/1920/1080/nature/8');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}