<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TK Photography</title>
    <script src='./src/styles.css'></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kaushan+Script&family=Pacifico&display=swap');
    </style>
</head>

<body>
    <app-navbar class="navbar"></app-navbar>
    <app-landing class="main"></app-landing>
    <router-outlet></router-outlet>
</body>

</html>