body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'navbar' 'main' 'footer';
}

p {
    font-family: Lato;
}

.main {
    width: 100vw;
}

.navbar {
    overflow: auto;
}

.footer {
    position: absolute;
    bottom: 0px;
}