.profileBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

h1 {
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

.imageContainer {
    height: auto;
    width: 20vw;
    border-radius: 10vw;
    text-align: center;
    padding: 5rem;
}

img {
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profileName {
    width: auto;
}

.profileAbout {
    padding: 5rem;
    margin: auto;
    width: 80%;
    height: auto;
    background-color: white;
    float: right;
}

@media only screen and (max-width: 1230px) {
    .profileBox {
        flex-wrap: wrap;
    }
    .imageContainer {
        width: 100vw;
        padding-left: 60px;
        padding: 0.8rem;
    }
    .profileAbout {
        width: 100%;
    }
}