/* You can add global styles to this file, and also import other style files */

body html {
    margin: -8px;
    padding: 0px;
}

body {
    background-color: #f4a261;
    width: 100vw;
    height: auto;
}

h2 {
    margin: 4px;
}

h3 {
    margin: 0px;
}



