/* You can add global styles to this file, and also import other style files */

body html {
    margin: -8px;
    padding: 0px;
}

body {
    overflow: hidden;
    background-color: #777;
}

h2 {
    margin: 4px;
}

h3 {
    margin: 0px;
}